.digit_converter {
  background-color: white;
  border-radius: 1rem;
  max-width: 50rem;
  margin: 5rem auto;
  padding: 1rem;
}

#digit_form {
  max-width: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#digit_form button {
  margin-top: 1rem;
}

.digit_converter_result {
  padding: 1rem 2rem 2rem 2rem;
}
